<%= form_with model: [ @book, @book.customers.build ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :age %><br>
    <%= form.text_area :age %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>