
<h3>  <%= @book.title %></h3>

<h4>  <%= @book.description %>  </h4>

<h5>  <%= @book.pages %> </h5>

<ul>
  <li><%= link_to "Edit", edit_book_path(@book) %></li>
  <li><%= link_to "Destroy", book_path(@book), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Buying Customer</h2>
<%= render @book.customers %>

<h2>Buy the book:</h2>
<%= render 'customers/form' %>